<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>
<body>
    <h1 style="color: blue; text-align: center;">Welcome To My Backend App</h1>
    <h2>Learning Phase</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque neque quidem sit ab omnis earum.</p><br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt delectus, magni veniam velit, voluptates rem natus fuga culpa deserunt corporis deleniti.</p>
</body>
</html>